:root{
    --text-color: white;
    --background-color:#2D4263;
    --accent-color:#ECB365;
}


body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar_logo{
    font-size: 24px;
    color:var(--accent-color)
}

.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar_socials{
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar_socials li {
    padding: 8px 12px;
}

.toggleBtn{
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_socials{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .toggleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_socials.active {
        display: flex;
    }
}